In [60]:
#Library Import

import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import altair as alt
import scipy.stats as stats
from scipy.stats import norm

# import seaborn as sns
# from sklearn.neighbors import KernelDensity
# from bokeh.models import ColumnDataSource, Label, PrintfTickFormatter
# from bokeh.palettes import Dark2_5 as colors
# from bokeh.plotting import figure, show
# from bokeh.sampledata.cows import data as df
# from bokeh.io import output_notebook

In [61]:
#copied from main.ipynb
# #import pandas as pd


df_course = pd.read_csv('assets/student.course.csv')
df_record = pd.read_csv('assets/student.record.csv')
df_term = pd.read_table('assets/term.table.txt', delimiter="\t").fillna('Unknown')



df_term.columns = ['TERM_ID', 'TERM_DESCRIPTION']

terms = ['Fall', 'Winter', 'Summer', 'Spring', 'Unknown']
df_term['TERM_NAME'] = df_term['TERM_DESCRIPTION'].apply(lambda x: list(filter(lambda y: y!='', [t if t in x else '' for t in terms]))[0])
df_term['TERM_YEAR'] = df_term['TERM_DESCRIPTION'].apply(lambda x: x[-4:] if x[-4:].isnumeric() else None)

merge_course_df = pd.merge(
                    df_course,
                    df_term, 
                    how='left',
                    left_on='TERM',
                    right_on='TERM_ID')

terms_student = ['ADMIT_TERM', 'MAJOR1_TERM', 'MAJOR2_TERM', 'MAJOR3_TERM']
merge_record_df = df_record.copy()
for term in terms_student:
    
    merge_record_df = pd.merge(
                        merge_record_df,
                        df_term, 
                        how='left',
                        left_on=term,
                        right_on='TERM_ID')
    
    

    merge_record_df.rename(columns={'TERM_ID': term + '_' + 'TERM_ID', 
                            'TERM_DESCRIPTION': term + '_' + 'TERM_DESCRIPTION', 
                            'TERM_NAME': term + '_' + 'TERM_NAME', 
                            'TERM_YEAR': term + '_' + 'TERM_YEAR'}, inplace=True)    
    
 


# df_term
# df_course
# df_record
# merge_course_df
merge_record_df

    
course_columns = ['ANONID', 'SUBJECT', 'CATALOG_NBR', 'GRD_PTS_PER_UNIT', 'GPAO', 'DIV',
                  'ANON_INSTR_ID', 'TERM', 'TERM_ID', 'TERM_DESCRIPTION', 'TERM_NAME', 'TERM_YEAR']

record_columns = ['MAJOR3_DESCR', 'MAJOR2_DESCR', 'MAJOR1_DESCR', 'HSGPA', 'LAST_ACT_ENGL_SCORE', 'LAST_ACT_MATH_SCORE',
                  'LAST_ACT_READ_SCORE', 'LAST_ACT_SCIRE_SCORE', 'LAST_ACT_COMP_SCORE', 'LAST_SATI_VERB_SCORE', 
                  'LAST_SATI_MATH_SCORE', 'LAST_SATI_TOTAL_SCORE', 'SEX', 'STDNT_GROUP1', 'STDNT_GROUP2', 'MAJOR1_DEPT', 
                  'MAJOR2_DEPT', 'MAJOR3_DEPT', 'ANONID', 'ADMIT_TERM', 'MAJOR1_TERM', 'MAJOR2_TERM', 'MAJOR3_TERM', 
                  'MAJOR3_TERM_TERM_ID', 'MAJOR3_TERM_TERM_DESCRIPTION', 'MAJOR3_TERM_TERM_NAME', 'MAJOR3_TERM_TERM_YEAR']   

# merge_course_df.describe()
# merge_record_df.describe()


# https://www.bls.gov/oes/tables.htm
# https://data.census.gov/table/ACSST1Y2015.S0101
# https://data.census.gov/table/ACSST1Y2015.S1501?t=Education&g=040XX00US06
# merge_record_df.sort_values(by=['MAJOR3_TERM_TERM_YEAR'], ascending=[True])['MAJOR3_TERM_TERM_YEAR'].unique()
# 1992 - 2015


# Occupational data by gender
# https://www.bls.gov/cps/cps_aa2015.htm

# https://www.axios.com/2020/06/30/half-us-population-unemployed
# the labor market is only at 50%?


merge_record_df[['ADMIT_TERM','ADMIT_TERM_TERM_ID','ADMIT_TERM_TERM_DESCRIPTION','ADMIT_TERM_TERM_NAME']]

,ADMIT_TERM,ADMIT_TERM_TERM_ID,ADMIT_TERM_TERM_DESCRIPTION,ADMIT_TERM_TERM_NAME
0,NaN,NaN,NaN,NaN
1,110.0,110.0,Fall 2008,Fall
2,63.0,63.0,Fall 1998,Fall
3,106.0,106.0,Fall 2007,Fall
4,83.0,83.0,Fall 2002,Fall
...,...,...,...,...
138883,NaN,NaN,NaN,NaN
138884,126.0,126.0,Fall 2012,Fall
138885,98.0,98.0,Fall 2005,Fall
138886,NaN,NaN,NaN,NaN
138887,115.0,115.0,Winter 2010,Winter

In [62]:
table = pd.pivot_table(merge_record_df, values='ANONID', index=['ADMIT_TERM_TERM_YEAR','SEX'],
                       aggfunc="count")
table.reset_index(inplace = True)
#display(table)
area = alt.Chart(table).mark_area(opacity = 0.4).encode(
        x="ADMIT_TERM_TERM_YEAR",
        y=alt.Y('ANONID', stack = False),
        color="SEX",
        ).properties(title={"text": "number of students at university X per year grouped by sex"}
        )
area

alt.Chart(...)

In [63]:

result = merge_course_df.groupby('ANONID').agg(
    avg_GPAO=('GPAO', 'mean'),
    max_TERM_YEAR=('TERM_YEAR', 'max')
).reset_index()

result.head()
merge_df = pd.merge(
                    merge_record_df,
                    result, 
                    how='left',
                    left_on='ANONID',
                    right_on='ANONID')
#merge_df.head()

In [64]:
columnlst = ['HSGPA', 'LAST_ACT_ENGL_SCORE', 'LAST_ACT_MATH_SCORE', 'LAST_ACT_READ_SCORE',
       'LAST_ACT_SCIRE_SCORE', 'LAST_ACT_COMP_SCORE', 'LAST_SATI_VERB_SCORE',
       'LAST_SATI_MATH_SCORE', 'LAST_SATI_TOTAL_SCORE','avg_GPAO']

def getFigs(timeCol, groupCol, columns, dataframe, agg='mean'):
    def layered_area_chart(col, data):
        area = alt.Chart(data).mark_area(opacity=0.4).encode(
            x=alt.X(f"{timeCol}:T", title="Year"),
            y=alt.Y(col, stack=False),
            color=alt.Color(groupCol)
        ).properties(
            title=f"{agg.capitalize()} {col} per year grouped by sex"
        )
        return area

    for col in columns:
        table = pd.pivot_table(dataframe, values=col, index=[timeCol, groupCol], aggfunc=agg)
        table.reset_index(inplace=True)
        
        # Generate and return chart (in Jupyter, returning should display the chart)
        fig = layered_area_chart(col, table)
        display(fig)  # Use display() in Jupyter environments

# Call the function to generate the charts
getFigs('ADMIT_TERM_TERM_YEAR', 'SEX', columnlst, merge_df)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

alt.Chart(...)

In [65]:
list1=[]
def getMajorType(x):
    
    if type(x) == str:
        lst = x.split(" ")
        deg = lst[-1]
        if lst[-1].startswith('B'):
            return lst[-1]
        elif lst[-1] == 'ABEd':
            return lst[-1]
        elif "BS" in lst:
            return 'BS'
        elif "BSE" in lst:
            return 'BSE'
        elif 'Nursing' in lst:
            return 'BSN'
        elif 'BFA' in lst:
            return 'BFA'
        else:
            list1.append(lst)
            return 'other'

merge_df["Deg_Type"] = merge_df['MAJOR1_DESCR'].apply(lambda x: getMajorType((x)))
merge_df['Deg_Type'].unique()
list2 = []
for x in list1:
    if x not in list2:
        list2.append(x)

for l in list2:
    print(' '.join(l))

len(list1)

Arab,Arm,Pers,Turk & Islamic S
Program in Entrepreneurship
Sustainability Scholars Prog
Earth System Science
Honors in the Liberal Arts
Unclassified

317

In [66]:
def getMajorType2(x):
    lst = [None, 'BA', 'BSE', 'BS', 'BGS', 'BSChem', 'BBA', 'BFA', 'BMus',
       'other', 'BSEd', 'ABEd', 'BMusA', 'BSN', 'BDA', 'BTA', 'BFADes',
       'BioMed', 'BMU', 'BioE', 'BFM']
    dic = {}
    dic['STEM'] = ['BSE', 'BS', 'BSChem', 'BSN', 'BTA', 'BioMed', 'BioE']
    dic['Arts&Humanities'] = ['BA', 'BGS', 'BFA', 'BMus', 'BMusA', 'BFADes','BMU']
    dic['Business'] = ['BBA', 'BFM']
    dic['Education'] = ['BSEd', 'ABEd']
    dic['other'] = ['other', 'BDA']

    if x in dic['STEM']:
        return 'STEM'
    elif x in dic['Arts&Humanities']:
        return 'Arts&Humanities'
    elif x in dic['Business']:
        return 'Business'
    elif x in dic['other']:
        return 'other'
    else:
        return
    
merge_df['Majot_Type'] = merge_df['Deg_Type']. apply(lambda x : getMajorType2(x))
merge_df.head()

,MAJOR3_DESCR,MAJOR2_DESCR,MAJOR1_DESCR,HSGPA,LAST_ACT_ENGL_SCORE,LAST_ACT_MATH_SCORE,LAST_ACT_READ_SCORE,LAST_ACT_SCIRE_SCORE,LAST_ACT_COMP_SCORE,LAST_SATI_VERB_SCORE,...,MAJOR2_TERM_TERM_NAME,MAJOR2_TERM_TERM_YEAR,MAJOR3_TERM_TERM_ID,MAJOR3_TERM_TERM_DESCRIPTION,MAJOR3_TERM_TERM_NAME,MAJOR3_TERM_TERM_YEAR,avg_GPAO,max_TERM_YEAR,Deg_Type,Majot_Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.190000,2013,None,None
1,NaN,NaN,Asian Studies BA,3.8,25.0,22.0,29.0,28.0,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.477531,2010,BA,Arts&Humanities
2,NaN,NaN,Psychology BA,3.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.971542,2002,BA,Arts&Humanities
3,NaN,NaN,Civil Engineering BSE,3.9,33.0,32.0,28.0,30.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.203586,2008,BSE,STEM
4,NaN,NaN,NaN,3.8,24.0,22.0,18.0,18.0,21.0,610.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.931080,2003,None,None

In [67]:
major_df = pd.read_excel("assets/majors.xlsx")

In [68]:
merge_df = pd.merge(
                    merge_df,
                    major_df, 
                    how='left',
                    left_on='MAJOR1_DESCR',
                    right_on='MAJOR')
merge_df.head()

,MAJOR3_DESCR,MAJOR2_DESCR,MAJOR1_DESCR,HSGPA,LAST_ACT_ENGL_SCORE,LAST_ACT_MATH_SCORE,LAST_ACT_READ_SCORE,LAST_ACT_SCIRE_SCORE,LAST_ACT_COMP_SCORE,LAST_SATI_VERB_SCORE,...,MAJOR3_TERM_TERM_ID,MAJOR3_TERM_TERM_DESCRIPTION,MAJOR3_TERM_TERM_NAME,MAJOR3_TERM_TERM_YEAR,avg_GPAO,max_TERM_YEAR,Deg_Type,Majot_Type,MAJOR,OCCUPATION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.190000,2013,None,None,NaN,NaN
1,NaN,NaN,Asian Studies BA,3.8,25.0,22.0,29.0,28.0,26.0,NaN,...,NaN,NaN,NaN,NaN,3.477531,2010,BA,Arts&Humanities,Asian Studies BA,"Education, training, and library occupations"
2,NaN,NaN,Psychology BA,3.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.971542,2002,BA,Arts&Humanities,Psychology BA,"Life, physical, and social science occupations"
3,NaN,NaN,Civil Engineering BSE,3.9,33.0,32.0,28.0,30.0,31.0,NaN,...,NaN,NaN,NaN,NaN,3.203586,2008,BSE,STEM,Civil Engineering BSE,Architecture and engineering occupations
4,NaN,NaN,NaN,3.8,24.0,22.0,18.0,18.0,21.0,610.0,...,NaN,NaN,NaN,NaN,1.931080,2003,None,None,NaN,NaN

In [69]:
#from main.ipynb

import pandas as pd

# More tables here
# https://www.bls.gov/cps/tables.htm
# BLS MEDAIN WEEKLY EARNINGS https://www.bls.gov/cps/cpsaat39.htm

# https://data.bls.gov/apps/demographic-comparison-matrix/home.htm

# treemaps https://docs.bokeh.org/en/latest/docs/examples/topics/hierarchical/treemap.html

# https://data.census.gov/table/ACSST1Y2015.S1501?t=Education&g=040XX00US06

df_bls_2015_headers_1 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=0).fillna('Unknown').iloc[0]
df_bls_2015_headers_2 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=1).fillna('Unknown').iloc[0]
df_bls_2015_headers_3 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=2).fillna('Unknown').iloc[0]
df_bls_2015_headers_4 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=3).fillna('Unknown').iloc[0]

df_bls_2015 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=3).fillna('Unknown')

df_bls_2015

tabs = ['2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003']

columns = ['level', 
           'l3','l2','l1','l0',
           'occupation', 
           'total_16_years_and_over_py', 
           'total_16_years_and_over',
           'male_16_years_and_over_py', 
           'male_16_years_and_over',
           'male_20_years_and_over_py', 
           'male_20_years_and_over',
           'female_16_years_and_over_py', 
           'female_16_years_and_over',
           'female_20_years_and_over_py', 
           'female_20_years_and_over']

# combined = list(zip(df_bls_2015_headers_1, df_bls_2015_headers_2, df_bls_2015_headers_3, df_bls_2015_headers_4))
# for row in combined:
#     print(row)


df_bls_all = pd.DataFrame()
for tab in tabs:
    df_bls_next = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', 
                                sheet_name=str(tab), 
                                header=3, 
                                ).fillna('Unknown')
    
    df_bls_next.columns = columns
    df_bls_next['year'] = str(tab)
    # df_bls_all.columns = columns.append('year')
    df_bls_all = pd.concat([df_bls_all, df_bls_next])

#print(len(df_bls_all))
df_bls_all_filtered = df_bls_all[df_bls_all['occupation'] != 'Unknown']
df_bls_all_filtered_Totals = df_bls_all[(df_bls_all['level'] == 'L3') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]
df_bls_all_filtered_L2 = df_bls_all[(df_bls_all['level'] == 'L2') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]
df_bls_all_filtered_L0 = df_bls_all[(df_bls_all['level'] == 'L0') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]


# Check L0 Sums vs Totals
# for tab in tabs:
#     print(tab, df_bls_all_filtered_L0[df_bls_all_filtered_L0['year'] == tab]['total_16_years_and_over_py'].sum(axis=0) - df_bls_all_filtered_Totals[df_bls_all_filtered_Totals['year'] == tab]['total_16_years_and_over_py'].sum(axis=0))


# print(len(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')]))
# print(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')].columns)
# print(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')]['occupation'].unique())

# Sanity Check trend
#for tab in tabs:
 #   print(tab, df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == tab) & (df_bls_all_filtered_L0['occupation'] == 'Computer and mathematical occupations')]['total_16_years_and_over_py'].sum(axis=0))


df_bls_all_filtered

,level,l3,l2,l1,l0,occupation,total_16_years_and_over_py,total_16_years_and_over,male_16_years_and_over_py,male_16_years_and_over,male_20_years_and_over_py,male_20_years_and_over,female_16_years_and_over_py,female_16_years_and_over,female_20_years_and_over_py,female_20_years_and_over,year
0,L3,Unknown,Unknown,Unknown,Unknown,Total,146305.0,148834.0,77692.0,79131.0,75471.0,76776.0,68613.0,69703.0,66287.0,67323.0,2015
2,L2,Unknown,Unknown,Unknown,Unknown,"Management, professional, and related occupations",56050.0,57960.0,27119.0,28090.0,26976.0,27918.0,28931.0,29871.0,28751.0,29658.0,2015
3,L1,Unknown,Unknown,Unknown,Unknown,"Management, business, and financial operations...",23171.0,24108.0,13041.0,13589.0,13008.0,13548.0,10129.0,10519.0,10098.0,10476.0,2015
4,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Management occupations,Management occupations,16199.0,16994.0,9953.0,10340.0,9931.0,10309.0,6246.0,6654.0,6223.0,6624.0,2015
5,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Business and financial operations occupations,Business and financial operations occupations,6972.0,7114.0,3088.0,3249.0,3077.0,3238.0,3884.0,3866.0,3875.0,3851.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Construction and extraction occupations,7898.0,8114.0,7674.0,7891.0,7431.0,7636.0,224.0,223.0,215.0,214.0,2003
41,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,"Installation, maintenance, and repair occupations",4623.0,5041.0,4412.0,4830.0,4312.0,4730.0,212.0,211.0,206.0,204.0,2003
44,L2,Unknown,Unknown,Unknown,Unknown,"Production, transportation, and material movin...",18569.0,18020.0,14091.0,13745.0,13509.0,13248.0,4478.0,4274.0,4334.0,4143.0,2003
45,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Production occupations,10081.0,9700.0,6863.0,6696.0,6682.0,6566.0,3218.0,3004.0,3144.0,2938.0,2003
47,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Transportation and material moving occupations,8488.0,8320.0,7228.0,7049.0,6827.0,6682.0,1260.0,1270.0,1190.0,1205.0,2003

In [70]:
df_bls_all.reset_index(inplace= True)

In [71]:
def getMales(row):
    x = row['male_16_years_and_over'] +row['male_20_years_and_over']
    if type(x) ==float:
        return x
    else:
        return
df_bls_all_filtered['Males'] = df_bls_all_filtered.apply(lambda x: getMales(x), axis = 1)

def getFemales(row):
    x= row['female_16_years_and_over'] +row['female_20_years_and_over']
    if type(x) ==float:
            return x
    else:
        return
df_bls_all_filtered['Females'] = df_bls_all_filtered.apply(lambda x: getFemales(x), axis = 1)

df_bls_all_filtered.head()

/var/folders/0z/gp51c2ln7l595qj_bjp3g4y00000gn/T/ipykernel_16213/3496776192.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bls_all_filtered['Males'] = df_bls_all_filtered.apply(lambda x: getMales(x), axis = 1)
/var/folders/0z/gp51c2ln7l595qj_bjp3g4y00000gn/T/ipykernel_16213/3496776192.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bls_all_filtered['Females'] = df_bls_all_filtered.apply(lambda x: getFemales(x), axis = 1)

,level,l3,l2,l1,l0,occupation,total_16_years_and_over_py,total_16_years_and_over,male_16_years_and_over_py,male_16_years_and_over,male_20_years_and_over_py,male_20_years_and_over,female_16_years_and_over_py,female_16_years_and_over,female_20_years_and_over_py,female_20_years_and_over,year,Males,Females
0,L3,Unknown,Unknown,Unknown,Unknown,Total,146305.0,148834.0,77692.0,79131.0,75471.0,76776.0,68613.0,69703.0,66287.0,67323.0,2015,155907.0,137026.0
2,L2,Unknown,Unknown,Unknown,Unknown,"Management, professional, and related occupations",56050.0,57960.0,27119.0,28090.0,26976.0,27918.0,28931.0,29871.0,28751.0,29658.0,2015,56008.0,59529.0
3,L1,Unknown,Unknown,Unknown,Unknown,"Management, business, and financial operations...",23171.0,24108.0,13041.0,13589.0,13008.0,13548.0,10129.0,10519.0,10098.0,10476.0,2015,27137.0,20995.0
4,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Management occupations,Management occupations,16199.0,16994.0,9953.0,10340.0,9931.0,10309.0,6246.0,6654.0,6223.0,6624.0,2015,20649.0,13278.0
5,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Business and financial operations occupations,Business and financial operations occupations,6972.0,7114.0,3088.0,3249.0,3077.0,3238.0,3884.0,3866.0,3875.0,3851.0,2015,6487.0,7717.0

In [72]:
print(len(df_bls_all_filtered['l0'].unique()))
print(len(df_bls_all_filtered['l1'].unique()))
print(len(df_bls_all_filtered['l2'].unique()))
print(len(df_bls_all_filtered['l3'].unique()))

17
6
5
2

In [74]:
table = pd.pivot_table(df_bls_all_filtered, values=['Males', 'Females'], index=['year', 'l0'],
                       aggfunc="sum")
table.reset_index(inplace = True)
table = table[table.l0 != 'Unknown']
display(table)
# Step 1: Use pd.melt to "unpivot" Females and Males columns
df_melted = pd.melt(table, 
                    id_vars=['year', 'l0'],  # Columns to keep
                    value_vars=['Females', 'Males'],  # Columns to unpivot
                    var_name='SEX',  # Name for new column indicating Sex (Females/Males)
                    value_name='count')  # Name for new column holding the values


# Step 3: Set 'year' and 'SEX' as the index
#df_melted.set_index(['year', 'SEX'], inplace=True)

# Display the transformed DataFrame
df_melted

     year                                                 l0  Females    Males
0    2003  Arts, design, entertainment, sports, and media...   2490.0   2752.0
1    2003  Building and grounds cleaning and maintenance ...   3983.0   5642.0
2    2003      Business and financial operations occupations   6042.0   4873.0
3    2003           Community and social service occupations   2636.0   1719.0
4    2003              Computer and mathematical occupations   2561.0   9109.0
..    ...                                                ...      ...      ...
215  2015                             Management occupations  13278.0  20649.0
216  2015      Office and administrative support occupations  34413.0  62871.0
217  2015              Personal care and service occupations   8108.0   2423.0
218  2015                     Protective service occupations   1283.0   4834.0
219  2015                      Sales and related occupations  14764.0  15525.0

[208 rows x 4 columns]

     year                                                 l0      SEX    count
0    2003  Arts, design, entertainment, sports, and media...  Females   2490.0
1    2003  Building and grounds cleaning and maintenance ...  Females   3983.0
2    2003      Business and financial operations occupations  Females   6042.0
3    2003           Community and social service occupations  Females   2636.0
4    2003              Computer and mathematical occupations  Females   2561.0
..    ...                                                ...      ...      ...
411  2015                             Management occupations    Males  20649.0
412  2015      Office and administrative support occupations    Males  62871.0
413  2015              Personal care and service occupations    Males   2423.0
414  2015                     Protective service occupations    Males   4834.0
415  2015                      Sales and related occupations    Males  15525.0

[416 rows x 4 columns]

In [ ]:
for f in df_melted['l0'].unique():
        df =  df_melted[df_melted['l0'] == f].reset_index()
        #display(df)
        area = alt.Chart(df).mark_area(opacity = 0.4).encode(
                x="year",
                y=alt.Y('count', stack = False),
                color="SEX",
                ).properties(title={"text": f}
                )
        display(area)

In [ ]:
table = pd.pivot_table(merge_df, values='ANONID', index=['ADMIT_TERM_TERM_YEAR','SEX', 'OCCUPATION'],
                       aggfunc="count")
table.reset_index(inplace = True)

for f in table['OCCUPATION'].unique():
        df =  table[table['OCCUPATION'] == f].reset_index()
        #display(df)
        area = alt.Chart(df).mark_area(opacity = 0.4).encode(
                x="ADMIT_TERM_TERM_YEAR",
                y=alt.Y('ANONID', stack = False),
                color="SEX",
                ).properties(title={"text": f}
                )
        display(area)

In [77]:
def getSex2(x):
    if x == 'Females':
        return 'F'
    elif x == 'Males':
        return 'M'
    else:
        return
df_melted['SEX'] = df_melted['SEX'].apply(lambda x: getSex2(x))

df_melted['year'] = df_melted['year'].apply(lambda x: int(x))
display(df_melted.head())

table['ADMIT_TERM_TERM_YEAR'] = table['ADMIT_TERM_TERM_YEAR'].apply(lambda x: int(x))
table = table[table['ADMIT_TERM_TERM_YEAR'] > 2002]
table

   year                                                 l0 SEX   count
0  2003  Arts, design, entertainment, sports, and media...   F  2490.0
1  2003  Building and grounds cleaning and maintenance ...   F  3983.0
2  2003      Business and financial operations occupations   F  6042.0
3  2003           Community and social service occupations   F  2636.0
4  2003              Computer and mathematical occupations   F  2561.0

,ADMIT_TERM_TERM_YEAR,SEX,OCCUPATION,ANONID
128,2003,F,Architecture and engineering occupations,247
129,2003,F,"Arts, design, entertainment, sports, and media...",188
130,2003,F,Computer and mathematical occupations,49
131,2003,F,"Education, training, and library occupations",770
132,2003,F,Healthcare practitioners and technical occupat...,19
...,...,...,...,...
341,2015,F,"Life, physical, and social science occupations",12
342,2015,M,Architecture and engineering occupations,2
343,2015,M,"Arts, design, entertainment, sports, and media...",2
344,2015,M,"Education, training, and library occupations",5
345,2015,M,"Life, physical, and social science occupations",8

In [78]:


new_df = pd.merge(
                    df_melted,
                    table, 
                    how='left',
                    left_on=['year', 'SEX', 'l0'],
                    right_on=['ADMIT_TERM_TERM_YEAR', 'SEX', 'OCCUPATION'])
new_df.sort_values(by = ['l0']    
).head(20)

,year,l0,SEX,count,ADMIT_TERM_TERM_YEAR,OCCUPATION,ANONID
0,2003,"Arts, design, entertainment, sports, and media...",F,2490.0,2003.0,"Arts, design, entertainment, sports, and media...",188.0
304,2009,"Arts, design, entertainment, sports, and media...",M,2871.0,2009.0,"Arts, design, entertainment, sports, and media...",187.0
32,2005,"Arts, design, entertainment, sports, and media...",F,2572.0,2005.0,"Arts, design, entertainment, sports, and media...",207.0
288,2008,"Arts, design, entertainment, sports, and media...",M,2905.0,2008.0,"Arts, design, entertainment, sports, and media...",204.0
272,2007,"Arts, design, entertainment, sports, and media...",M,2911.0,2007.0,"Arts, design, entertainment, sports, and media...",213.0
256,2006,"Arts, design, entertainment, sports, and media...",M,2763.0,2006.0,"Arts, design, entertainment, sports, and media...",192.0
240,2005,"Arts, design, entertainment, sports, and media...",M,2806.0,2005.0,"Arts, design, entertainment, sports, and media...",208.0
400,2015,"Arts, design, entertainment, sports, and media...",M,3157.0,2015.0,"Arts, design, entertainment, sports, and media...",2.0
224,2004,"Arts, design, entertainment, sports, and media...",M,2807.0,2004.0,"Arts, design, entertainment, sports, and media...",242.0
208,2003,"Arts, design, entertainment, sports, and media...",M,2752.0,2003.0,"Arts, design, entertainment, sports, and media...",156.0
64,2007,"Arts, design, entertainment, sports, and media...",F,2590.0,2007.0,"Arts, design, entertainment, sports, and media...",209.0
192,2015,"Arts, design, entertainment, sports, and media...",F,2865.0,NaN,NaN,NaN
176,2014,"Arts, design, entertainment, sports, and media...",F,2747.0,NaN,NaN,NaN
160,2013,"Arts, design, entertainment, sports, and media...",F,2684.0,2013.0,"Arts, design, entertainment, sports, and media...",13.0
80,2008,"Arts, design, entertainment, sports, and media...",F,2662.0,2008.0,"Arts, design, entertainment, sports, and media...",227.0
144,2012,"Arts, design, entertainment, sports, and media...",F,2675.0,2012.0,"Arts, design, entertainment, sports, and media...",35.0
128,2011,"Arts, design, entertainment, sports, and media...",F,2525.0,2011.0,"Arts, design, entertainment, sports, and media...",189.0
112,2010,"Arts, design, entertainment, sports, and media...",F,2520.0,2010.0,"Arts, design, entertainment, sports, and media...",256.0
320,2010,"Arts, design, entertainment, sports, and media...",M,2928.0,2010.0,"Arts, design, entertainment, sports, and media...",192.0
336,2011,"Arts, design, entertainment, sports, and media...",M,2967.0,2011.0,"Arts, design, entertainment, sports, and media...",157.0

In [ ]:
table = pd.pivot_table(new_df, values=['count', 'ANONID'], index=['year', 'OCCUPATION'],
                       aggfunc="sum")
table.reset_index(inplace = True)
df_melted = pd.melt(table, 
                    id_vars=['year', 'OCCUPATION'],  # Columns to keep
                    value_vars=['ANONID', 'count'],  # Columns to unpivot
                    var_name='SOURCE',  # Name for new column indicating Sex (Females/Males)
                    value_name='c')  # Name for new column holding the values
df_melted['year'] = df_melted['year'].apply(lambda x: str(x))
for f in df_melted['OCCUPATION'].unique():
        df =  df_melted[df_melted['OCCUPATION'] == f].reset_index()
        #display(df)
        area = alt.Chart(df).mark_area(opacity = 0.4).encode(
                x="year:T",
                y=alt.Y('c', stack = False),
                color="SOURCE",
                ).properties(title={"text": f}
                )
        display(area)

In [118]:
table = pd.pivot_table(new_df, values=['count', 'ANONID'], index=['year', 'OCCUPATION'],
                       aggfunc="sum")
table.reset_index(inplace = True)
df_melted = pd.melt(table, 
                    id_vars=['year', 'OCCUPATION'],  # Columns to keep
                    value_vars=['ANONID', 'count'],  # Columns to unpivot
                    var_name='SOURCE',  # Name for new column indicating Sex (Females/Males)
                    value_name='c')  # Name for new column holding the values

df_melted = df_melted[df_melted['year'] >2003]
df_melted = df_melted[df_melted['year'] < 2013]

df_melted['year'] = df_melted['year'].astype(str)


df_univ =  df_melted[df_melted['SOURCE'] == 'ANONID'].reset_index()
df_bls = df_melted[df_melted['SOURCE'] == 'count'].reset_index()

In [119]:
area = alt.Chart(df_univ).mark_area(opacity = 0.4).encode(
        x="year:T",
        y=alt.Y('c', stack = False),
        color="OCCUPATION",
        ).properties(title={"text": f}
        )
display(area)

alt.Chart(...)

In [120]:
area = alt.Chart(df_bls).mark_area(opacity = 0.4).encode(
        x="year:T",
        y=alt.Y('c', stack = False),
        color="OCCUPATION",
        ).properties(title={"text": f}
        )
display(area)

type(df_univ['year'][0])

alt.Chart(...)

str