In [1]:

# Import Dependencies


import numpy as np
import math

import matplotlib.pyplot as plt
# import seaborn as sns
import scipy.stats as stats
from scipy.stats import norm

# from sklearn.neighbors import KernelDensity
# from bokeh.models import ColumnDataSource, Label, PrintfTickFormatter
# from bokeh.palettes import Dark2_5 as colors
# from bokeh.plotting import figure, show
# from bokeh.sampledata.cows import data as df
# from bokeh.io import output_notebook

In [15]:
import pandas as pd


df_course = pd.read_csv('assets/student.course.csv')
df_record = pd.read_csv('assets/student.record.csv')
df_term = pd.read_table('assets/term.table.txt', delimiter="\t").fillna('Unknown')



df_term.columns = ['TERM_ID', 'TERM_DESCRIPTION']

terms = ['Fall', 'Winter', 'Summer', 'Spring', 'Unknown']
df_term['TERM_NAME'] = df_term['TERM_DESCRIPTION'].apply(lambda x: list(filter(lambda y: y!='', [t if t in x else '' for t in terms]))[0])
df_term['TERM_YEAR'] = df_term['TERM_DESCRIPTION'].apply(lambda x: x[-4:] if x[-4:].isnumeric() else None)

merge_course_df = pd.merge(
                    df_course,
                    df_term, 
                    how='left',
                    left_on='TERM',
                    right_on='TERM_ID')

terms_student = ['ADMIT_TERM', 'MAJOR1_TERM', 'MAJOR2_TERM', 'MAJOR3_TERM']
merge_record_df = df_record.copy()
for term in terms_student:
    
    merge_record_df = pd.merge(
                        merge_record_df,
                        df_term, 
                        how='left',
                        left_on=term,
                        right_on='TERM_ID')
    
    

    merge_record_df.rename(columns={'TERM_ID': term + '_' + 'TERM_ID', 
                            'TERM_DESCRIPTION': term + '_' + 'TERM_DESCRIPTION', 
                            'TERM_NAME': term + '_' + 'TERM_NAME', 
                            'TERM_YEAR': term + '_' + 'TERM_YEAR'}, inplace=True)    
    
 


# df_term
# df_course
# df_record
# merge_course_df
merge_record_df

    
course_columns = ['ANONID', 'SUBJECT', 'CATALOG_NBR', 'GRD_PTS_PER_UNIT', 'GPAO', 'DIV',
                  'ANON_INSTR_ID', 'TERM', 'TERM_ID', 'TERM_DESCRIPTION', 'TERM_NAME', 'TERM_YEAR']

record_columns = ['MAJOR3_DESCR', 'MAJOR2_DESCR', 'MAJOR1_DESCR', 'HSGPA', 'LAST_ACT_ENGL_SCORE', 'LAST_ACT_MATH_SCORE',
                  'LAST_ACT_READ_SCORE', 'LAST_ACT_SCIRE_SCORE', 'LAST_ACT_COMP_SCORE', 'LAST_SATI_VERB_SCORE', 
                  'LAST_SATI_MATH_SCORE', 'LAST_SATI_TOTAL_SCORE', 'SEX', 'STDNT_GROUP1', 'STDNT_GROUP2', 'MAJOR1_DEPT', 
                  'MAJOR2_DEPT', 'MAJOR3_DEPT', 'ANONID', 'ADMIT_TERM', 'MAJOR1_TERM', 'MAJOR2_TERM', 'MAJOR3_TERM', 
                  'MAJOR3_TERM_TERM_ID', 'MAJOR3_TERM_TERM_DESCRIPTION', 'MAJOR3_TERM_TERM_NAME', 'MAJOR3_TERM_TERM_YEAR']   

# merge_course_df.describe()
# merge_record_df.describe()


# https://www.bls.gov/oes/tables.htm
# https://data.census.gov/table/ACSST1Y2015.S0101
# https://data.census.gov/table/ACSST1Y2015.S1501?t=Education&g=040XX00US06
# merge_record_df.sort_values(by=['MAJOR3_TERM_TERM_YEAR'], ascending=[True])['MAJOR3_TERM_TERM_YEAR'].unique()
# 1992 - 2015


# Occupational data by gender
# https://www.bls.gov/cps/cps_aa2015.htm

# https://www.axios.com/2020/06/30/half-us-population-unemployed
# the labor market is only at 50%?


merge_record_df[['ADMIT_TERM','ADMIT_TERM_TERM_ID','ADMIT_TERM_TERM_DESCRIPTION','ADMIT_TERM_TERM_NAME', 'ADMIT_TERM_TERM_YEAR']]
merge_record_df

,ADMIT_TERM,ADMIT_TERM_TERM_ID,ADMIT_TERM_TERM_DESCRIPTION,ADMIT_TERM_TERM_NAME,ADMIT_TERM_TERM_YEAR
0,NaN,NaN,NaN,NaN,NaN
1,110.0,110.0,Fall 2008,Fall,2008
2,63.0,63.0,Fall 1998,Fall,1998
3,106.0,106.0,Fall 2007,Fall,2007
4,83.0,83.0,Fall 2002,Fall,2002
...,...,...,...,...,...
138883,NaN,NaN,NaN,NaN,NaN
138884,126.0,126.0,Fall 2012,Fall,2012
138885,98.0,98.0,Fall 2005,Fall,2005
138886,NaN,NaN,NaN,NaN,NaN
138887,115.0,115.0,Winter 2010,Winter,2010

In [3]:
import pandas as pd

# More tables here
# https://www.bls.gov/cps/tables.htm
# BLS MEDAIN WEEKLY EARNINGS https://www.bls.gov/cps/cpsaat39.htm

# https://data.bls.gov/apps/demographic-comparison-matrix/home.htm

# treemaps https://docs.bokeh.org/en/latest/docs/examples/topics/hierarchical/treemap.html

# https://data.census.gov/table/ACSST1Y2015.S1501?t=Education&g=040XX00US06

df_bls_2015_headers_1 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=0).fillna('Unknown').iloc[0]
df_bls_2015_headers_2 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=1).fillna('Unknown').iloc[0]
df_bls_2015_headers_3 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=2).fillna('Unknown').iloc[0]
df_bls_2015_headers_4 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=3).fillna('Unknown').iloc[0]

df_bls_2015 = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', sheet_name='2015', header=3).fillna('Unknown')

df_bls_2015

tabs = ['2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003']

columns = ['level', 
           'l3','l2','l1','l0',
           'occupation', 
           'total_16_years_and_over_py', 
           'total_16_years_and_over',
           'male_16_years_and_over_py', 
           'male_16_years_and_over',
           'male_20_years_and_over_py', 
           'male_20_years_and_over',
           'female_16_years_and_over_py', 
           'female_16_years_and_over',
           'female_20_years_and_over_py', 
           'female_20_years_and_over']

# combined = list(zip(df_bls_2015_headers_1, df_bls_2015_headers_2, df_bls_2015_headers_3, df_bls_2015_headers_4))
# for row in combined:
#     print(row)


df_bls_all = pd.DataFrame()
for tab in tabs:
    df_bls_next = pd.read_excel('assets/bls_cpsaat09_2002_to_2015.xlsx', 
                                sheet_name=str(tab), 
                                header=3, 
                                ).fillna('Unknown')
    
    df_bls_next.columns = columns
    df_bls_next['year'] = str(tab)
    # df_bls_all.columns = columns.append('year')
    df_bls_all = pd.concat([df_bls_all, df_bls_next])

print(len(df_bls_all))
df_bls_all_filtered = df_bls_all[df_bls_all['occupation'] != 'Unknown']
df_bls_all_filtered_Totals = df_bls_all[(df_bls_all['level'] == 'L3') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]
df_bls_all_filtered_L2 = df_bls_all[(df_bls_all['level'] == 'L2') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]
df_bls_all_filtered_L0 = df_bls_all[(df_bls_all['level'] == 'L0') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]


# Check L0 Sums vs Totals
# for tab in tabs:
#     print(tab, df_bls_all_filtered_L0[df_bls_all_filtered_L0['year'] == tab]['total_16_years_and_over_py'].sum(axis=0) - df_bls_all_filtered_Totals[df_bls_all_filtered_Totals['year'] == tab]['total_16_years_and_over_py'].sum(axis=0))


# print(len(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')]))
# print(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')].columns)
# print(df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == '2015')]['occupation'].unique())

# Sanity Check trend
for tab in tabs:
    print(tab, df_bls_all_filtered_L0[(df_bls_all_filtered_L0['year'] == tab) & (df_bls_all_filtered_L0['occupation'] == 'Computer and mathematical occupations')]['total_16_years_and_over_py'].sum(axis=0))


df_bls_all_filtered

533
2015 4303.0
2014 3980.0
2013 3816.0
2012 3608.0
2011 3531.0
2010 3481.0
2009 3676.0
2008 3441.0
2007 3209.0
2006 3246.0
2005 3140.0
2004 3122.0
2003 3117.0

,level,l3,l2,l1,l0,occupation,total_16_years_and_over_py,total_16_years_and_over,male_16_years_and_over_py,male_16_years_and_over,male_20_years_and_over_py,male_20_years_and_over,female_16_years_and_over_py,female_16_years_and_over,female_20_years_and_over_py,female_20_years_and_over,year
0,L3,Unknown,Unknown,Unknown,Unknown,Total,146305.0,148834.0,77692.0,79131.0,75471.0,76776.0,68613.0,69703.0,66287.0,67323.0,2015
2,L2,Unknown,Unknown,Unknown,Unknown,"Management, professional, and related occupations",56050.0,57960.0,27119.0,28090.0,26976.0,27918.0,28931.0,29871.0,28751.0,29658.0,2015
3,L1,Unknown,Unknown,Unknown,Unknown,"Management, business, and financial operations...",23171.0,24108.0,13041.0,13589.0,13008.0,13548.0,10129.0,10519.0,10098.0,10476.0,2015
4,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Management occupations,Management occupations,16199.0,16994.0,9953.0,10340.0,9931.0,10309.0,6246.0,6654.0,6223.0,6624.0,2015
5,L0,Total,"Management, professional, and related occupations","Management, business, and financial operations...",Business and financial operations occupations,Business and financial operations occupations,6972.0,7114.0,3088.0,3249.0,3077.0,3238.0,3884.0,3866.0,3875.0,3851.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Construction and extraction occupations,7898.0,8114.0,7674.0,7891.0,7431.0,7636.0,224.0,223.0,215.0,214.0,2003
41,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,"Installation, maintenance, and repair occupations",4623.0,5041.0,4412.0,4830.0,4312.0,4730.0,212.0,211.0,206.0,204.0,2003
44,L2,Unknown,Unknown,Unknown,Unknown,"Production, transportation, and material movin...",18569.0,18020.0,14091.0,13745.0,13509.0,13248.0,4478.0,4274.0,4334.0,4143.0,2003
45,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Production occupations,10081.0,9700.0,6863.0,6696.0,6682.0,6566.0,3218.0,3004.0,3144.0,2938.0,2003
47,L0,Total,"Natural resources, construction, and maintenan...","Natural resources, construction, and maintenan...",Office and administrative support occupations,Transportation and material moving occupations,8488.0,8320.0,7228.0,7049.0,6827.0,6682.0,1260.0,1270.0,1190.0,1205.0,2003

In [4]:
# import bokeh 
# bokeh.sampledata.download()

import pandas as pd
from squarify import normalize_sizes, squarify

from bokeh.plotting import figure, show

from bokeh.sampledata.sample_superstore import data
from bokeh.transform import factor_cmap
from bokeh.io import output_notebook
from jupyter_bokeh.widgets import BokehModel # widgets third party extension will be required

data = data[["City", "Region", "Sales"]]

regions = ("West", "Central", "South", "East")

sales_by_city = data.groupby(["Region", "City"]).sum("Sales")
sales_by_city = sales_by_city.sort_values(by="Sales").reset_index()

sales_by_region = sales_by_city.groupby("Region").sum("Sales").sort_values(by="Sales")

def treemap(df, col, x, y, dx, dy, *, N=100):
    sub_df = df.nlargest(N, col)
    normed = normalize_sizes(sub_df[col], dx, dy)
    blocks = squarify(normed, x, y, dx, dy)
    blocks_df = pd.DataFrame.from_dict(blocks).set_index(sub_df.index)
    return sub_df.join(blocks_df, how='left').reset_index()

x, y, w, h = 0, 0, 800, 450

blocks_by_region = treemap(sales_by_region, "Sales", x, y, w, h)

dfs = []
for index, (Region, Sales, x, y, dx, dy) in blocks_by_region.iterrows():
    df = sales_by_city[sales_by_city.Region==Region]
    dfs.append(treemap(df, "Sales", x, y, dx, dy, N=10))
blocks = pd.concat(dfs)

p = figure(width=w, height=h, tooltips="@City", toolbar_location=None,
           x_axis_location=None, y_axis_location=None)
p.x_range.range_padding = p.y_range.range_padding = 0
p.grid.grid_line_color = None

p.block('x', 'y', 'dx', 'dy', source=blocks, line_width=1, line_color="white",
        fill_alpha=0.8, fill_color=factor_cmap("Region", "MediumContrast4", regions))

p.text('x', 'y', x_offset=2, text="Region", source=blocks_by_region,
       text_font_size="18pt", text_color="white")

blocks["ytop"] = blocks.y + blocks.dy
p.text('x', 'ytop', x_offset=2, y_offset=2, text="City", source=blocks,
       text_font_size="6pt", text_baseline="top",
       text_color=factor_cmap("Region", ("black", "white", "black", "white"), regions))


output_notebook()
handle = display(BokehModel(p))

blocks

BokehModel(render_bundle={'docs_json': {'a0415ef4-96c4-4986-aa49-764dd34cd58c': {'version': '3.4.3', 'title': â€¦

,index,Region,City,Sales,x,y,dx,dy,ytop
0,581,West,Los Angeles,175851.3410,0.000000,0.000000,252.640624,154.626626,154.626626
1,580,West,Seattle,119540.7420,0.000000,154.626626,130.058435,204.182823,358.809449
2,579,West,San Francisco,112669.0920,130.058435,154.626626,122.582189,204.182823,358.809449
3,575,West,San Diego,47521.0290,0.000000,358.809449,115.765134,91.190551,450.000000
4,555,West,Denver,12198.7930,115.765134,358.809449,56.514793,47.950871,406.760320
5,551,West,Phoenix,11000.2570,115.765134,406.760320,56.514793,43.239680,450.000000
6,549,West,North Las Vegas,9801.0020,172.279927,358.809449,44.278222,49.172477,407.981926
7,540,West,Anaheim,7986.8700,216.558150,358.809449,36.082475,49.172477,407.981926
8,538,West,Fresno,7888.5285,172.279927,407.981926,41.706297,42.018074,450.000000
9,534,West,Sacramento,7311.2780,213.986225,407.981926,38.654400,42.018074,450.000000
0,582,East,New York City,256368.1610,252.640624,0.000000,236.385508,239.905157,239.905157
1,578,East,Philadelphia,109077.0130,252.640624,239.905157,114.845554,210.094843,450.000000
2,572,East,Newark,28576.1190,367.486178,239.905157,76.865772,82.236874,322.142031
3,565,East,Lakewood,16608.3640,444.351951,239.905157,44.674181,82.236874,322.142031
4,564,East,Providence,15980.6500,367.486178,322.142031,60.922194,58.025013,380.167044
5,563,East,Columbus,15900.7930,428.408373,322.142031,60.617760,58.025013,380.167044
6,550,East,Columbia,10962.3500,367.486178,380.167044,64.545019,37.569661,417.736704
7,547,East,Lancaster,9414.0200,367.486178,417.736704,64.545019,32.263296,450.000000
8,545,East,Buffalo,9063.4960,432.031197,380.167044,56.994935,35.176759,415.343803
9,544,East,Burlington,8929.3700,432.031197,415.343803,56.994935,34.656197,450.000000
0,577,Central,Houston,64504.7604,489.026132,0.000000,127.438495,144.134635,144.134635
1,576,Central,Chicago,48539.5410,489.026132,144.134635,127.438495,108.460662,252.595298
2,573,Central,Detroit,42446.9440,616.464627,0.000000,121.176832,99.747968,99.747968
3,571,Central,San Antonio,21843.5280,737.641459,0.000000,62.358541,99.747968,99.747968
4,570,Central,Dallas,20131.9322,616.464627,99.747968,74.078428,77.387518,177.135486
5,569,Central,Lafayette,19630.4500,616.464627,177.135486,74.078428,75.459812,252.595298
6,567,Central,Minneapolis,16870.5400,690.543055,99.747968,57.186894,84.005881,183.753849
7,561,Central,Jackson,15420.0360,747.729950,99.747968,52.270050,84.005881,183.753849
8,560,Central,Springfield,15051.3800,690.543055,183.753849,62.259201,68.841449,252.595298
9,553,Central,Milwaukee,11410.2200,752.802256,183.753849,47.197744,68.841449,252.595298
0,574,South,Jacksonville,44713.1830,489.026132,252.595298,111.274023,142.568999,395.164297
1,568,South,Atlanta,17197.8400,489.026132,395.164297,111.274023,54.835703,450.000000
2,566,South,Springfield,16628.5300,600.300155,252.595298,84.716020,69.642061,322.237359
3,562,South,Henderson,15661.0100,600.300155,322.237359,84.716020,65.589984,387.827344
4,559,South,Columbus,14845.0500,600.300155,387.827344,84.716020,62.172656,450.000000
5,558,South,Arlington,14366.7600,685.016175,252.595298,58.871674,86.583623,339.178921
6,557,South,Charlotte,13693.3390,743.887850,252.595298,56.112150,86.583623,339.178921
7,556,South,Burlington,12681.2820,685.016175,339.178921,78.707219,57.165222,396.344142
8,554,South,Richmond,11902.7800,685.016175,396.344142,78.707219,53.655858,450.000000
9,552,South,Columbia,11330.9340,763.723395,339.178921,36.276605,110.821079,450.000000

In [24]:
# blocks_by_L2 = treemap(df_bls_all_filtered_L2, "total_16_years_and_over_py", x, y, w, h)
# blocks_by_L2


df_bls_all_filtered = df_bls_all[df_bls_all['occupation'] != 'Unknown']
df_bls_all_filtered_L0 = df_bls_all[(df_bls_all['level'] == 'L0') & (df_bls_all['total_16_years_and_over_py'] != 'Unknown')]

df_bls_all_filtered_L0_2015 = df_bls_all_filtered_L0[df_bls_all_filtered_L0['year'] == '2015'][['level', 'occupation', 'total_16_years_and_over_py']]

l0_grouping = df_bls_all_filtered_L0[df_bls_all_filtered_L0['year'] == '2015'][['l1', 'occupation', 'total_16_years_and_over_py']].groupby(['occupation'],  sort=False).sum()
l1_grouping = df_bls_all_filtered_L0[df_bls_all_filtered_L0['year'] == '2015'][['l1', 'total_16_years_and_over_py']].groupby(['l1'],  sort=True).sum()

l1_grouping['total_16_years_and_over_py'] =  pd.to_numeric(l1_grouping['total_16_years_and_over_py'], errors='coerce')
l0_grouping['total_16_years_and_over_py'] =  pd.to_numeric(l0_grouping['total_16_years_and_over_py'], errors='coerce')


def treemap(df, col, x, y, dx, dy, *, N=100):
    sub_df = df.nlargest(N, col)
    normed = normalize_sizes(sub_df[col], dx, dy)
    blocks = squarify(normed, x, y, dx, dy)
    blocks_df = pd.DataFrame.from_dict(blocks).set_index(sub_df.index)
    return sub_df.join(blocks_df, how='left').reset_index()


l1s = tuple(df_bls_all_filtered['l1'].unique().tolist())


l1s = ('Sales and office occupations', 'Professional and related occupations', 'Natural resources, construction, and maintenance occupations', 'Management, business, and financial operations occupations', 'Service occupations')

x, y, w, h = 0, 0, 1600, 900
blocks_by_L1 = treemap(l1_grouping, "total_16_years_and_over_py", x, y, w, h)


blocks_by_L1

dfs = []
for index, (l1, head_count, x, y, dx, dy) in blocks_by_L1.iterrows():
    df = l0_grouping[l0_grouping.l1==l1]    
    dfs.append(treemap(df, "total_16_years_and_over_py", x, y, dx, dy, N=100))

blocks = pd.concat(dfs)


p = figure(width=w, height=h, tooltips="@occupation", toolbar_location=None,
           x_axis_location=None, y_axis_location=None)
p.x_range.range_padding = p.y_range.range_padding = 0
p.grid.grid_line_color = None

p.block('x', 'y', 'dx', 'dy', source=blocks, line_width=1, line_color="white",
        fill_alpha=0.8, fill_color=factor_cmap("l1", "MediumContrast5", l1s))

p.text('x', 'y', x_offset=2, y_offset=-50, text="l1", source=blocks_by_L1,
       text_font_size="18pt", text_color="white")


blocks["ytop"] = blocks.y + blocks.dy

p.text('x', 'ytop', x_offset=2, y_offset=2, text="occupation", source=blocks,
       text_font_size="10pt", text_baseline="top",
       text_color='white')


output_notebook()
handle = display(BokehModel(p))
blocks

BokehModel(render_bundle={'docs_json': {'8b1d61f4-b169-4d8d-b352-e32b13bf5ea5': {'version': '3.4.3', 'title': â€¦

,occupation,l1,total_16_years_and_over_py,x,y,dx,dy,ytop
0,Office and administrative support occupations,Sales and office occupations,17771.0,0.000000,0.000000,385.557877,453.651804,453.651804
1,Sales and related occupations,Sales and office occupations,15646.0,385.557877,0.000000,339.454085,453.651804,453.651804
0,"Education, training, and library occupations",Professional and related occupations,8686.0,0.000000,453.651804,378.812631,225.681380,679.333184
1,Healthcare practitioner and technical occupations,Professional and related occupations,8493.0,0.000000,679.333184,378.812631,220.666816,900.000000
2,Computer and mathematical occupations,Professional and related occupations,4303.0,378.812631,453.651804,205.815933,205.775047,659.426851
3,"Arts, design, entertainment, sports, and media...",Professional and related occupations,2935.0,584.628563,453.651804,140.383398,205.775047,659.426851
4,Architecture and engineering occupations,Professional and related occupations,2798.0,378.812631,659.426851,216.548459,127.172430,786.599281
5,Community and social service occupations,Professional and related occupations,2495.0,378.812631,786.599281,216.548459,113.400719,900.000000
6,Legal occupations,Professional and related occupations,1814.0,595.361089,659.426851,129.650872,137.708959,797.135811
7,"Life, physical, and social science occupations",Professional and related occupations,1355.0,595.361089,797.135811,129.650872,102.864189,900.000000
0,Transportation and material moving occupations,"Natural resources, construction, and maintenan...",9010.0,725.011961,0.000000,246.320378,360.018488,360.018488
1,Production occupations,"Natural resources, construction, and maintenan...",8438.0,971.332339,0.000000,230.682725,360.018488,360.018488
2,Construction and extraction occupations,"Natural resources, construction, and maintenan...",7637.0,725.011961,360.018488,269.084998,279.340342,639.358830
3,"Installation, maintenance, and repair occupations","Natural resources, construction, and maintenan...",4879.0,994.096959,360.018488,207.918105,230.961113,590.979601
4,"Farming, fishing, and forestry occupations","Natural resources, construction, and maintenan...",1022.0,994.096959,590.979601,207.918105,48.379229,639.358830
0,Food preparation and serving related occupations,Service occupations,8112.0,1202.015064,0.000000,397.984936,200.614197,200.614197
1,Building and grounds cleaning and maintenance ...,Service occupations,5803.0,1202.015064,200.614197,207.316569,275.498293,476.112490
2,Personal care and service occupations,Service occupations,5337.0,1409.331634,200.614197,190.668366,275.498293,476.112490
3,Healthcare support occupations,Service occupations,3461.0,1202.015064,476.112490,208.669272,163.246340,639.358830
4,Protective service occupations,Service occupations,3140.0,1410.684336,476.112490,189.315664,163.246340,639.358830
0,Management occupations,"Management, business, and financial operations...",16199.0,725.011961,639.358830,611.709950,260.641170,900.000000
1,Business and financial operations occupations,"Management, business, and financial operations...",6972.0,1336.721911,639.358830,263.278089,260.641170,900.000000